<!DOCTYPE HTML>
<html>

<head>
	<title>Eldar Najafov</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper-->
	<div id="wrapper">

		<!-- Nav -->
		<nav id="nav">
			<a href="#" class="icon solid fa-home"><span>Home</span></a>
			<a href="#work" class="icon solid fa-folder"><span>Work</span></a>
			<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
			<a href="https://twitter.com/eldar_dev" class="icon brands fa-twitter"><span>Twitter</span></a>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Me -->
			<article id="home" class="panel intro">
				<header>
					<h1>Jane Doe</h1>
					<p>Senior Astral Projectionist</p>
				</header>
				<a href="#work" class="jumplink pic">
					<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
					<img src="static/images/me.jpg" alt="" />
				</a>
			</article>

			<!-- Work -->
			<article id="work" class="panel">
				<header>
					<h2>Work</h2>
				</header>
				<p>
					Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
					luctus elit eget interdum.
				</p>
				<section>
					<div class="row">
						{% for image in range(1, 12 + 1) %}
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="static/images/pic{{image}}.jpg" alt=""></a>
						</div>
						{% endfor %}
					</div>
				</section>
			</article>

			<!-- Contact -->
			<article id="contact" class="panel">
				<header>
					<h2>Contact Me</h2>
				</header>
				<p>Thank you for your message!</p>
			</article>

		</div>

		<!-- Footer -->
		<div id="footer">
			<ul class="copyright">
				<li>&copy; Eldar Najafov.</li>
				<li>Follow: <a href="#">Python and Javascript DEV</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

</body>

</html>